@import url('https://fonts.googleapis.com/css?family=Arimo');

.top-menu {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 3px 0 7px rgb(0 0 0 / 30%);
    padding: 2%;
    max-height: 75px;
}

.top-menu:after {
    content: "";
    display: table;
    clear: both;
}

.top-menu #navbar-logo {
    max-width: 40%;
    max-height: 75px;
    display: inline-block;
}

.top-menu ul {
    text-align-last: justify;
    width: calc(100% - 50%);
    max-width: 60%;
}

.menu-main {
    list-style: none;
    float: right;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 2px;
    font-size: larger;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    transition: .3s linear;
}

.menu-main a:hover {
    background-color: #444746;
}


