@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@font-face {
  font-family: writter;
  src: url(./assests/atwriter.ttf);
}
@font-face {
  font-family: fancyfonts;
  src: url(./assests/OstrichSansInline-Regular.otf);
}
@font-face {
  font-family: signature;
  src: url(./assests/brother.otf);
}

$standardWidth: 430;
$PrimaryColor: #f7931a;
$TextColor: #b7b700;
$TextColor: #b28b00;
$Black: #151515;
$LightBlack: #636363;
$DarkGray: #e1e1e6;
$Gray: #f5f5f9;
$White: #fff;
@function calcView($pixels) {
  @return (($pixels/$standardWidth) * 100) + vw;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSpace() {
  display: flex;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  font-size: calcView(24);
  line-height: calcView(24);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

*::-webkit-scrollbar {
  display: block;
  width: calcView(5);
  position: absolute;
  border-radius: calcView(5);
  background-color: #ffffff90;
}

*::-webkit-scrollbar-thumb {
  background-color: #181730;
  border: calcView(1) solid #ffffff90;
}

body {
  background-color: #f5f5f9;
}

button {
  border: none;
  outline: none;
  color: $Black;
  background: $DarkGray;
  font-size: calcView(20);
  font-weight: 500;
}

select {
  box-shadow: calcView(2) calcView(2) calcView(4) lightgrey;
  max-width: calcView(289);
  width: 100%;
  height: calcView(50);
  font-size: calcView(20);
  border-radius: calcView(6);
  border: none;
  outline: none;
  padding: 0 calcView(13);
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: url("./assests/dropdown.svg") no-repeat;
  background-size: calcView(25);
  background-position: 95%;
}

select:disabled {
  filter: grayscale(1);
}
.select-class {
  padding-block: 0;
  padding-inline: 3vw;
  font-size: calcView(20);
  line-height: calcView(20);
}
.select-class-main {
  .select-class:disabled {
    .select-class-main:after {
      filter: grayscale(1);
    }
  }
}
.me-text {
  font-size: calcView(18);
}
select:focus {
  border: calcView(2) solid $PrimaryColor;
}
.profile-icon {
  span {
    font-weight: 700;
    font-size: calcView(24);
    line-height: calcView(24);
    margin-top: calcView(2);
    text-transform: uppercase;
  }
}
.accept-heading {
  font-size: calcView(22);
  font-weight: 400;
}

.detail {
  font-size: calcView(22);
  color: $PrimaryColor;

  li {
    list-style: decimal;
  }
}

.block {
  display: block;
}

.mt-5 {
  margin-top: calcView(8);
}
.mt {
  margin-top: calcView(15);
}

.mtt {
  margin-top: calcView(53);
}

.mttt {
  margin-top: calcView(75);
}

.btn {
  align-self: center;
  width: calcView(150);
  padding: calcView(13) calcView(52);
  border-radius: calcView(6);
  color: $PrimaryColor;
}

.header {
  @include flexSpace();
  margin: calcView(45) calcView(24);
  align-items: center;

  &-text {
    font-size: calcView(23);
    // margin-top: calcView(24);
    text-transform: uppercase;
    font-weight: 600;
  }
}

.icon-container {
  background-color: #fefefe;
  border-radius: calcView(12);
  @include flexCenter();
  width: calcView(58);
  height: calcView(50);

  .primary {
    background-color: $PrimaryColor !important;
  }

  .icon {
    @include flexCenter();
    background-color: #eeeeee;
    border-radius: 50%;
    width: calcView(42);
    height: calcView(42);

    img {
      width: calcView(24);
      height: calcView(24);
      object-fit: contain;
      -o-object-fit: contain;
      object-position: center;
      -o-object-position: center;
    }
  }
}

.circule {
  cursor: pointer;
  border-radius: 50% !important;
  width: calcView(42);
  height: calcView(42);
}

.head {
  @include flexSpace();
  align-items: end;
  width: calcView(382);
  margin: calcView(20) auto;

  span {
    font-size: calcView(22);
  }

  &-title {
    @include flexCenter();
    align-items: start;
    flex-direction: column;
    gap: calcView(4);
    &-top {
      font-weight: 500;
    }

    &-bottom {
      font-weight: 500;
    }
  }
}

input {
  width: 100%;
  height: calcView(50);
  font-size: calcView(16);
  padding: calcView(9) calcView(15);
  outline: none;
  border: none;
  border-radius: calcView(5);
  background: #fff;
}

.form {
  width: calcView(362);
  margin: calcView(30) auto;
  display: flex;
  flex-direction: column;
  gap: calcView(24);

  label {
    font-size: calcView(18);
    font-weight: 500;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .drop-shadow {
    filter: drop-shadow(calcView(3) calcView(4) calcView(4) $DarkGray);
  }

  input::placeholder {
    font-size: calcView(16);
  }

  input:focus {
    border: calcView(2) solid $PrimaryColor;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("./assests/calender.svg");
    background-size: cover;
  }

  input[type="checkbox"] {
    width: calcView(50);
    height: calcView(50);
    appearance: none;
    display: none;
  }

  .form-select {
    width: calcView(150);
  }

  .check-boxes {
    width: calcView(38);
    height: calcView(38);
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: calcView(3);
    border-style: solid;
    border-radius: calcView(10);
  }

  #checkbox {
    width: calcView(43);
    height: calcView(43);
  }

  input[type="checkbox"]:disabled ~ .check-boxes {
    opacity: 0.4 !important;
  }

  &-input {
    &-row {
      display: flex;
      gap: calcView(14);
    }
  }

  .flex-grow {
    flex-grow: 1;
  }

  .flex-row {
    display: flex;
    gap: calcView(14);
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .align-center {
    align-items: center;
  }

  .justify-center {
    justify-items: center;
  }

  .btn {
    background-color: $DarkGray;
    color: $PrimaryColor;
    font-weight: 500;
    font-size: calcView(20);
  }
}

.bold {
  font-weight: 700;
}

.search-select {
  display: block;
  width: 100%;
  height: calcView(56);
  position: relative;

  .select-class-main {
    position: relative;
  }

  .select-class-main:after {
    content: "";
    width: calcView(26);
    height: calcView(26);
    background: center/contain no-repeat url(./assests/dropdown.svg), white;
    border-radius: calcView(22);
    z-index: 2;
    position: absolute;
    right: calcView(10);
    top: calcView(12);
  }

  .select-class:disabled {
    background: transparent;
  }
}

.secondary-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calcView(45);
  height: calcView(45);
  border-radius: calcView(43);
  border: calcView(1) solid #d3d3d3;
  // background: #fff;

  &-image {
    object-fit: contain;
    object-position: center;
    width: calcView(16);
    height: calcView(16);
  }
}

.input-blank {
  width: 100%;
  padding: calcView(14);
  background: white;
  border-radius: calcView(6);
}

.key {
  margin-top: calcView(20);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-icon {
    width: calcView(76);
    height: calcView(76);
    @include flexCenter();
    border: calcView(5) solid black;
    border-radius: calcView(99);

    &-svg {
      width: calcView(26);
      height: calcView(26);

      path {
        width: calcView(26);
        height: calcView(26);
        fill: black;
      }
    }
  }

  .payed {
    border: calcView(5) solid #00923a;

    svg {
      path {
        fill: #00923a;
      }
    }
  }

  .request {
    border: calcView(5) solid #c30000;

    svg {
      path {
        fill: #c30000;
      }
    }
  }

  .pending {
    border: calcView(5) solid #c30000;

    svg {
      path {
        fill: black;
      }
    }
  }

  .lessthenthree {
    border: calcView(5) solid #c30000;

    svg {
      path {
        fill: #f7931a;
      }
    }
  }

  &-text {
    margin-top: calcView(8);
    font-size: calcView(16);
    font-weight: 600;
    text-transform: uppercase;
  }

  &-confirmations {
    font-size: calcView(16);
    vertical-align: middle;
    line-height: calcView(20);
    text-align: center;

    img {
      margin-left: calcView(5);
      width: calcView(16);
      height: calcView(16);
      vertical-align: middle;
    }
  }
}

.home {
  width: 90%;
  margin: 0 auto;

  &-header {
    margin: calcView(45) calcView(24) calcView(45) calcView(24);
    display: flex;
    justify-content: space-between;

    &-left,
    &-right {
      display: flex;
      align-items: center;
      gap: calcView(10);
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calcView(40);

    &-amount {
      display: flex;
      justify-content: center;

      &-single {
        position: relative;
        display: flex;
        justify-content: center;
        gap: calcView(5);
        width: calcView(200);

        #arrow {
          height: calcView(22);
        }

        .arrowDown {
          transform: rotate(180deg);
        }
        span {
          font-size: calcView(26);
          font-weight: 700;
        }
        .currency {
          color: $Black !important;
          font-size: calcView(20);
          text-transform: lowercase;
        }
      }
    }
    .home-amount-hov {
      &::after {
        content: attr(data-set);
        position: absolute;
        top: calcView(-35);
        background: #000000bc;
        font-size: calcView(16);
        color: white;
        padding: calcView(5) calcView(10);
        border-radius: calcView(8);
        right: calcView(30);
        display: none;
      }
      &:hover::after {
        display: block;
      }
    }

    &-heading {
      display: flex;
      justify-content: space-evenly;
      flex: 1 0 0;
      align-self: stretch;

      &-single {
        display: flex;
        padding: calcView(10) calcView(20);
        justify-content: center;
        align-items: center;
        gap: calcView(20);
        border-radius: calcView(12);
        background: #e1e1e6;

        .arrow {
          display: flex;
          width: calcView(24);
          height: calcView(24);
          justify-content: center;
          align-items: center;
          border-radius: calcView(14);
          background: #fff;

          #arrow {
            width: calcView(16);
            height: calcView(19);
          }
        }

        span {
          font-family: Poppins;
          font-size: calcView(16);
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    &-total {
      display: flex;
      justify-content: space-evenly;
      flex: 1 0 0;
      align-self: stretch;

      &-single {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;

        #arrow {
          width: calcView(16);
          height: calcView(19);
          transform: rotate(180deg);
          fill: #a3a3a3;
        }

        span {
          font-family: Poppins;
          font-size: calcView(24);
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .currency {
          font-size: calcView(20);
          text-transform: lowercase;
        }
      }
    }

    &-bills {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calcView(10);
      align-self: stretch;

      &-container {
        display: flex;
        height: calcView(64);
        padding: calcView(0) calcView(10) calcView(0) calcView(6);
        align-items: center;
        gap: calcView(12);
        align-self: stretch;
        border-radius: calcView(12);
        background: #fff;
        justify-content: space-between;
        .icon {
          display: flex;
          width: calcView(51);
          height: calcView(48);
          padding: calcView(10);
          justify-content: center;
          align-items: center;
          gap: calcView(10);
          border-radius: calcView(6);
          background: #eff1f4;
        }

        .details {
          flex: 1;
          display: flex;
          height: calcView(47);
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          .name {
            max-width: calcView(140) !important;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #151515;
            font-family: Poppins;
            font-size: calcView(18);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          .date {
            color: #151515;
            font-family: Poppins;
            font-size: calcView(12);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        .currency-details {
          display: flex;
          align-items: center;
          gap: calcView(3);
          position: relative;
          .amount {
            max-width: calcView(100);
            overflow: hidden;
            text-overflow: ellipsis;
            color: #00923a;
            font-family: Poppins;
            font-size: calcView(18);
            font-style: normal;
            font-weight: 500;
            line-height: calcView(18);
            &-amount {
              min-width: fit-content;
            }
          }

          .red {
            color: red;
          }

          .grey {
            color: grey;
          }

          .currency {
            color: #151515;
            font-family: Poppins;
            font-size: calcView(18);
            font-style: normal;
            font-weight: 500;
            line-height: calcView(18);
          }
        }
        .currency-details-number {
          &::after {
            content: attr(data-set);
            position: absolute;
            top: calcView(-35);
            background: #000000bc;
            font-size: calcView(16);
            color: white;
            padding: calcView(5) calcView(10);
            border-radius: calcView(8);
            right: calcView(30);
            display: none;
          }
          &:hover::after {
            display: block;
          }
        }
      }
    }

    &-payments {
      margin-bottom: calcView(40);

      &-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calcView(5);
        user-select: none;
        cursor: pointer;

        .payments {
          color: #898989;
          font-family: Poppins;
          font-size: calcView(12);
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .history {
          display: flex;
          padding: calcView(8) calcView(12);
          justify-content: center;
          align-items: center;
          gap: calcView(10);
          font-size: calcView(12);
          border-radius: calcView(6);
          border: calcView(1) solid #f7931a;
          background: #e1e1e6;
          color: #f7931a;
        }
      }
    }
  }

  .line {
    display: flex;
    height: calcView(4);
    align-items: flex-start;
    gap: calcView(10);
    align-self: stretch;
    border-radius: calcView(3);
    background: #dcdbdb;
  }
}

.issue {
  width: 100%;
  &-number {
    @include flexSpace();
    width: calcView(366);
    background-color: #ffff;
    padding: calcView(20);
    margin: 0 auto;
    border-radius: calcView(9);

    span {
      font-size: calcView(20);
    }

    &-holder {
      @include flexCenter();
      gap: calcView(5);
      text-transform: uppercase;

      .colored {
        color: $PrimaryColor;
      }
    }

    &-date {
      font-weight: 400;
    }
  }
}

.accept {
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  .form-select {
    width: calcView(150);
  }

  .drop-shadow {
    filter: drop-shadow(calcView(3) calcView(4) calcView(4) $DarkGray);
  }

  &-container {
    width: 100%;
    border-radius: calcView(32) calcView(32) 0 0;
    &-content {
      padding: calcView(50) calcView(23);
      display: flex;
      flex-direction: column;
    }
  }

  .endorse-select {
    max-width: 100%;
    width: 100%;
  }
}

.Repay {
  width: 100%;
  &-body {
    margin: 0 auto;
    display: block;
    width: 90%;
  }
  .select-opt {
    width: calcView(300);
    display: flex;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: calcView(5);
    span,
    label {
      font-size: calcView(22);
      font-weight: 400;
    }
  }

  .inline {
    display: inline;
  }

  .colored {
    color: $PrimaryColor;
  }

  .mtt {
    margin-top: calcView(35);
  }
}

.billing {
  width: 100%;
  margin-top: calcView(16);
  display: block;
  overflow-y: auto;
  hr {
    padding: 0;
    height: calcView(1);
    border-top: none;
    border-bottom: calcView(1) solid $LightBlack;
    width: 100%;
    margin: 0 auto;
  }

  .top-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: calcView(5);
    padding: calcView(7) calcView(21);
  }

  .billing-container {
    margin: 0 auto;
    width: calcView(396.85);
    height: calcView(1122.52);
    background-color: #ffffff;
    margin-top: calcView(-56);
    .top-container {
      padding-top: calcView(40);

      .head-text {
        text-align: center;
        span {
          display: block;
          font-size: calcView(16);
          font-weight: 700;
          line-height: calcView(18.78);
          color: #151515;
        }
        &-maintext {
          font-family: fancyfonts;
          margin-top: calcView(40);
          margin-bottom: calcView(20);
          font-size: calcView(66) !important;
          line-height: calcView(66) !important;
        }
      }

      .line {
        width: calcView(344);
        margin: 0 auto;
        margin-top: calcView(36);
        margin-bottom: calcView(16);
        display: flex;
        flex-direction: column;
        gap: calcView(15);
        span {
          height: calcView(18);
          font-size: calcView(70);
          line-height: calcView(18);
          text-align: center;
          font-family: signature;
          padding-bottom: calcView(10);
          // border-bottom: calcView(2) solid black;
        }
      }

      .unter-text {
        font-size: calcView(12);
        text-align: center;
      }
    }

    .details {
      border-top: calcView(1) solid $LightBlack;
      position: relative;
      height: calcView(771);
      width: calcView(396);

      .bottom-text {
        font-size: calcView(11.5);
        line-height: calcView(10);
      }

      &-container {
        position: absolute;
        padding-top: calcView(15);
        padding-left: calcView(15);
        top: 24.4%;
        left: -47.4%;
        width: calcView(771);
        height: calcView(396);
        transform: rotate(90deg);

        &-uper {
          display: flex;
          justify-content: space-between;

          &-den {
            width: calcView(321);
            display: flex;
            flex-direction: column;
            align-items: center;

            &-main {
              display: flex;

              &-first,
              &-third {
                width: calcView(141);
                height: calcView(24);
                border-bottom: calcView(1) solid $LightBlack;
                font-size: calcView(14);
                text-align: center;
                color: $TextColor;
                font-family: writter;
              }

              &-second {
                font-size: calcView(14);
              }
            }
          }

          &-zah {
            display: flex;
            flex-direction: column;
            width: calcView(250);
            gap: calcView(5);

            &-main {
              display: flex;

              &-first,
              &-second {
                font-size: calcView(16);
                line-height: calcView(17.4);
              }

              &-second {
                padding: 0 calcView(10);
                width: 42%;
                white-space: pre;
                text-overflow: ellipsis;
                overflow: hidden;
                border-bottom: calcView(1) solid $LightBlack;
                color: $TextColor;
                font-family: writter;
              }
            }
          }
        }

        &-middle {
          display: flex;
          flex-direction: column;
          gap: calcView(10);

          &-date {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-left {
              font-family: "Oswald", sans-serif;
              font-size: calcView(26.27);
              letter-spacing: calcView(-0.5);
            }

            &-right {
              width: calcView(216);
              display: flex;
              align-items: center;
              flex-direction: column;

              &-uper {
                font-size: calcView(14);
                width: 100%;
                text-align: center;
                border-bottom: calcView(1) solid $LightBlack;
                line-height: calcView(17);
                color: $TextColor;
                font-family: writter;
              }

              &-lower {
                font-size: calcView(9.68);
                line-height: calcView(14);
              }
            }
          }

          &-num {
            display: flex;
            justify-content: space-between;
            &-text {
              display: flex;
              align-items: end;
              gap: calcView(5);
              width: calcView(503);
              &-an {
                white-space: pre;
                font-size: calcView(14);
                font-weight: 500;
                line-height: calcView(10);
              }
              &-further {
                font-size: calcView(16);
                line-height: calcView(14);
                color: $TextColor;
                font-family: writter;
                text-align: center;
                width: 100%;
                border-bottom: calcView(1) solid #000;
              }
            }

            &-amount {
              display: flex;
              align-items: center;
              gap: calcView(5);

              &-currency {
                font-size: calcView(24);
                line-height: calcView(20);
                font-weight: 700;
              }

              &-figures {
                width: calcView(216);
                height: calcView(28);
                font-size: calcView(16);
                background-image: url(./assests/line.svg);
                background-repeat: space;
                text-align: center;
                color: $TextColor;
                font-family: writter;
              }
            }
          }

          &-letter {
            display: flex;
            justify-content: space-between;
            gap: calcView(10);

            &-currency {
              font-size: calcView(24);
              font-weight: 700;
            }

            &-amount {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;

              &-figures {
                width: 100%;
                height: calcView(28);
                font-size: calcView(16);
                background-image: url(./assests/line.svg);
                background-repeat: space;
                background-size: 100%;
                text-align: center;
                color: $TextColor;
                font-family: writter;
              }

              &-text {
                font-size: calcView(10);
                line-height: calcView(12);
              }
            }
          }
        }

        &-bottom {
          display: flex;

          &-left {
            display: flex;
            flex-direction: column;
            gap: calcView(5);
            width: calcView(429);

            &-bez {
              width: 100%;
              display: flex;
              flex-direction: column;

              &-line {
                width: 100%;
                height: calcView(35);
                display: flex;
                align-items: center;
                gap: calcView(5);

                &-text {
                  font-size: calcView(16);
                }

                &-ans {
                  color: $TextColor;
                  font-family: writter;
                  width: 100%;
                  text-align: center;
                  line-height: calcView(14);
                  font-size: calcView(14);
                  border-bottom: calcView(1) solid $LightBlack;
                }
              }

              &-next-line {
                height: calcView(15);
                color: $TextColor;
                font-family: writter;
                line-height: calcView(14);
                font-size: calcView(14);
                border-bottom: calcView(1) solid $LightBlack;
              }
            }

            &-in {
              width: 100%;
              display: flex;
              gap: calcView(5);

              &-text {
                font-size: calcView(14);
                font-weight: 500;
              }

              &-further {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                &-text {
                  text-align: center;
                  width: 100%;
                  height: calcView(17);
                  font-size: calcView(16);
                  line-height: calcView(18);
                  border-bottom: calcView(1) solid $LightBlack;
                  color: $TextColor;
                  font-family: writter;
                }

                &-bottom {
                  font-size: calcView(10);
                }
              }
            }

            &-detail {
              border-top: calcView(2) solid $LightBlack;
              border-right: calcView(2) solid $LightBlack;
              padding-top: calcView(10);
              padding-right: calcView(15);

              .details-container-bottom-left-bez-line-text {
                font-size: calcView(16);
                white-space: nowrap;
              }

              .details-container-bottom-left-in-further-bottom {
                font-size: calcView(10);
              }
            }
          }

          &-signature {
            flex: 1;
            display: flex;
            align-items: end;
            justify-content: center;
            position: relative;

            .signature {
              position: absolute;
              top: 60%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-family: signature;
              font-size: calcView(34);
            }

            span {
              font-size: calcView(12.8);
            }
          }
        }
      }
    }
  }
}

.activity {
  position: relative;

  .poped-up {
    z-index: 99;
    position: absolute;
    right: calcView(23);
    top: calcView(150);
    width: calcView(200);
    border-radius: calcView(12);
    background: #e8e8e8;
    box-shadow: calcView(12) calcView(12) calcView(21) 0 #00000033;
    border: calcView(2) solid #c0c0c0;
    display: flex;
    flex-direction: column;

    hr {
      border: calcView(0.5) inset;
    }

    .filter-box {
      margin: calcView(10);

      &-input {
        display: flex;
        gap: calcView(10);

        input {
          display: none;
        }

        .check-boxes {
          @include flexCenter();
          width: calcView(22);
          height: calcView(22);
          border-width: calcView(2);
          border-style: solid;
          border-radius: calcView(4);

          svg {
            width: calcView(15);
            height: calcView(12);
          }
        }

        &-text {
          font-size: calcView(16);
        }
      }
    }
  }

  .head {
    display: flex;
    width: calcView(382);
    justify-content: space-between;
    align-items: center;
  }

  .bills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calcView(10);
    align-self: stretch;
    margin: 0 calcView(23);
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: calcView(30);
}

.justify-space {
  justify-content: space-between !important;
}

.close-btn {
  width: calcView(46);
  height: calcView(46);
}

.create {
  margin-top: calcView(45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calcView(382);
    height: calcView(48);

    &-title {
      margin-top: calcView(2);
      text-transform: uppercase;
      font-weight: 600;
      font-size: calcView(23);
      line-height: calcView(23);
    }
  }

  &-body {
    margin: calcView(40) auto;

    &-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        display: none;
      }

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calcView(12);
        width: calcView(164);

        img {
          width: calcView(164);
          height: calcView(164);
          object-fit: contain;
          object-position: center;
          border-radius: 50%;
        }

        span {
          font-size: calcView(12);
          font-weight: medium;
        }
      }
    }

    &-form {
      width: calcView(382);
      display: flex;
      flex-direction: column;
      gap: calcView(40);

      &-input {
        display: flex;
        flex-direction: column;
        gap: calcView(10);

        &-in {
          display: flex;
          flex-direction: column;
          label {
            // margin-top: calcView(-4);
            font-size: calcView(12);
            // line-height: calcView(18);
            font-weight: 600;
          }
          input {
            width: 100%;
            height: calcView(50);
            font-size: calcView(16);
            padding: 0 calcView(10);
            outline: none;
            border: none;
            border-radius: calcView(12);
            background: #fff;
          }
          input:disabled {
            background: transparent;
            padding: 0;
            height: calcView(30);
          }
          input:focus {
            border: solid calcView(2) $PrimaryColor;
          }
        }
        .invalid {
          input {
            border: calcView(3) solid red !important;
          }
        }
      }
    }

    &-btn {
      width: 100%;
      height: calcView(56);
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: calcView(16);
      font-weight: 500;
      background: #e1e1e6;
      padding: 0 calcView(14);
      margin: calcView(20) auto;
      border-radius: calcView(6);
    }
  }
}

.toast {
  position: fixed;
  bottom: calcView(10);
  left: 50%;
  transform: translateX(-50%);
  background: #000000ba;
  color: #fff;
  padding: calcView(6) calcView(16);
  font-size: calcView(16);
  white-space: pre;
  border-radius: calcView(6);
  z-index: 99999;
}

.setting {
  margin-top: calcView(45);
  display: flex;
  flex-direction: column;
  align-items: center;

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calcView(382);
    height: calcView(48);

    &-title {
      margin-top: calcView(2);
      text-transform: uppercase;
      font-weight: 600;
      font-size: calcView(23);
      line-height: calcView(23);
    }
  }

  &-body {
    margin: calcView(40) auto;
    width: calcView(382);
    display: flex;
    flex-direction: column;
    gap: calcView(10);

    &-instant {
      padding: calcView(9.5) calcView(20);
      width: 100%;
      background: $White;
      display: flex;
      align-items: center;
      gap: calcView(20);
      text-transform: capitalize;
      border-radius: calcView(8);

      img {
        width: calcView(24);
        height: calcView(24);
        object-fit: contain;
        object-position: center;
      }

      span {
        font-size: calcView(23);
        flex: 1;
      }

      .arrow {
        width: calcView(6);
      }
    }
  }
}

.identity-peerid {
  font-size: calcView(14);

  img {
    vertical-align: middle;
    width: calcView(16);
    height: calcView(16);
    margin-left: calcView(7);
    margin-bottom: calcView(3);
  }
}

.error {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: calcView(50);

  &-head {
    margin-top: calcView(45);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calcView(382);
    height: calcView(48);

    &-title {
      margin-top: calcView(2);
      text-transform: uppercase;
      font-weight: 600;
      font-size: calcView(23);
      line-height: calcView(23);
    }

    .close-btn {
      @include flexCenter();
      border: calcView(2) solid white;
      border-radius: calcView(99);

      svg {
        width: calcView(16);
        height: calcView(16);
        viewport-fit: contain;

        path {
          fill: white;
          z-index: 2;
        }
      }
    }
  }

  &-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calcView(385);

    &-text {
      margin-top: calcView(100);
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: calcView(40);

      span {
        color: white;
      }

      &-h1 {
        font-size: calcView(116);
        font-weight: 600;
      }

      &-h2 {
        font-size: calcView(32);
        font-weight: 600;
      }

      &-p {
        font-size: calcView(20);
      }
    }

    .btn {
      width: 100%;
      background: #f7931a;
      color: #151515;
      font-weight: 700;
    }
  }
}

.contact {
  margin: 0 calcView(21);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: calcView(30);
  padding-bottom: calcView(50);

  &-head {
    margin-top: calcView(45);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calcView(382);
    height: calcView(48);

    &-title {
      margin-top: calcView(2);
      text-transform: uppercase;
      font-weight: 600;
      font-size: calcView(23);
      line-height: calcView(23);
    }

    .close-btn {
      path {
        fill: white;
        z-index: 2;
      }

      rect {
        z-index: 1;
        fill: black;
      }
    }
  }

  .input-contact {
    width: 100%;
    height: calcView(54);
    padding-left: calcView(10);
    outline: none;
    border-radius: calcView(12);
    border: calcView(2) solid #818181;

    &:focus {
      border: calcView(2) solid #d77300;
    }
  }

  &-body {
    flex-grow: 1;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-content: start;
    gap: calcView(10);

    &-user {
      width: 100%;
      background: #fff;
      padding: calcView(30) calcView(10);
      height: calcView(54);
      display: flex;
      gap: calcView(10);
      align-items: center;
      justify-content: space-between;
      border-radius: calcView(8);
      &-name {
        width: fit-content;
      }
      .copyicon {
        width: calcView(16);
        height: calcView(16);
        object-fit: contain;
      }
      span {
        // flex-grow: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;
        font-size: calcView(18);
      }
      img {
        width: calcView(28);
        height: calcView(28);
        object-fit: contain;
      }
      .flexgap {
        display: flex;
        align-items: center;
        gap: calcView(10);
      }
    }
  }
}

.add-contact {
  .contact-body {
    gap: calcView(30);
  }

  input {
    height: calcView(56);
    border: none;
    outline: none;
    background: #ebebeb;
    border-radius: calcView(10);
    padding: 0 calcView(20);
    font-size: calcView(16);
  }

  input:focus {
    border: calcView(4) solid #f7931a;
  }

  .btn {
    height: calcView(64);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calcView(10);

    span {
      font-size: calcView(21);
      line-height: calcView(21);
    }

    img {
      display: inline;
      vertical-align: middle;
      width: calcView(18);
      height: calcView(18);
      margin-bottom: calcView(2);
    }
  }
}

.btn {
  width: 100%;
}

.popup {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $White;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calcView(382);
    height: calcView(48);
    margin-top: calcView(45);

    &-title {
      margin-top: calcView(2);
      text-transform: uppercase;
      font-weight: 600;
      font-size: calcView(23);
      line-height: calcView(23);
    }
  }

  &-body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: calcView(20) auto;
    padding: calcView(40) calcView(21);
    width: 100%;

    &-inner {
      display: flex;
      flex-direction: column;
      gap: calcView(10);
      position: relative;
    }
  }

  .download {
    position: absolute;
    top: calcView(-40);
    right: 0;
    z-index: 11;
    background: #151515;
    color: white;
    font-size: calcView(14);
    text-transform: uppercase;
    padding: calcView(5) calcView(10);
    border-radius: calcView(6);

    svg {
      width: calcView(16);
      height: calcView(18);
      margin-right: calcView(7);
      margin-bottom: calcView(2);
      vertical-align: middle;
    }
  }

  &-btns {
    margin-top: calcView(33);
    display: flex;
    flex-wrap: wrap;
    gap: calcView(14);

    &-btn {
      padding: calcView(11) calcView(15);
      border-radius: calcView(6);
      display: flex;
      align-items: center;
      gap: calcView(10);

      img {
        width: calcView(24);
        height: calcView(24);
      }

      span {
        font-size: calcView(16);
        font-weight: 600;
      }
    }
  }
}

.fs-small {
  li {
    margin-top: calcView(9);
    font-size: calcView(19);
    line-height: calcView(20) !important;
  }
}

.see-more-btn {
  color: $Black;
  font-size: calcView(20);
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading div {
  position: absolute;
  width: calcView(60);
  height: calcView(60);
  border: calcView(8) solid #f7931a;
  border-top-color: transparent;
  border-radius: 50%;
}

.loading div {
  animation: loading 0.7246376811594202s linear infinite;
  top: calcView(100);
  left: calcView(100);
}

.loading-sub {
  width: calcView(200);
  height: calcView(200);
  display: inline-block;
  overflow: hidden;
}

.loading-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: calcView(200);
  height: calcView(200);
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.loading div {
  box-sizing: content-box;
}
