@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@font-face {
  font-family: writter;
  src: url(./assests/atwriter.ttf);
}
$standardWidth: 428;
$PrimaryColor: #f7931a;
$TextColor: #b28b00;
$Black: #151515;
$LightBlack: #636363;
$DarkGray: #e1e1e6;
$Gray: #f5f5f9;
$White: #fff;
@function calcView($pixels) {
  @return (($pixels/$standardWidth) * 100) + vw;
}
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexSpace() {
  display: flex;
  justify-content: space-between;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  line-height: calcView(30);
  color: $Black;
}

body {
  background-color: #f5f5f9;
}

button {
  border: none;
  outline: none;
  color: $Black;
  background: $DarkGray;
  font-size: calcView(20);
  font-weight: 500;
}
select {
  box-shadow: calcView(2) calcView(2) calcView(4) lightgrey;
  max-width: calcView(289);
  width: 100%;
  height: calcView(50);
  font-size: calcView(20);
  border-radius: calcView(6);
  border: none;
  outline: none;
  padding: 0 calcView(13);
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("./assests/dropdown.svg") no-repeat;
  background-size: calcView(20);
  background-position: 90%;
}
select:focus {
  border: calcView(2) solid $PrimaryColor;
}
.btn {
  align-self: center;
  width: calcView(150);
  padding: calcView(13) calcView(52);
  border-radius: calcView(6);
  color: $PrimaryColor;
}
.header {
  @include flexSpace();
  margin: calcView(50) calcView(24) calcView(80) calcView(24);
  &-text {
    font-size: calcView(23);
    margin-top: calcView(24);
    font-weight: bold;
  }
}
.icon-container {
  background-color: #e1e1e6;
  border-radius: calcView(12);
  @include flexCenter();
  width: calcView(49);
  height: calcView(38);
  .primary {
    background-color: $PrimaryColor !important;
  }
  .icon {
    @include flexCenter();
    background-color: #fbfbfb;
    padding: calcView(8);
    border-radius: 50%;
    img {
      width: calcView(16);
      height: calcView(16);
      object-fit: contain;
      -o-object-fit: contain;
      object-position: center;
      -o-object-position: center;
    }
  }
}
.circule {
  cursor: pointer;
  border-radius: 50% !important;
  width: calcView(42);
  height: calcView(42);
}

.head {
  @include flexSpace();
  align-items: end;
  width: calcView(382);
  margin: calcView(20) auto;
  span {
    font-size: calcView(22);
  }
  &-title {
    @include flexCenter();
    align-items: start;
    flex-direction: column;
    &-top {
      font-weight: 400;
    }
    &-bottom {
      font-weight: 600;
    }
  }
}
.form {
  width: calcView(362);
  margin: calcView(30) auto;
  display: flex;
  flex-direction: column;
  gap: calcView(24);
  label {
    font-size: calcView(18);
    font-weight: 500;
  }
  input {
    width: 100%;
    height: calcView(50);
    font-size: calcView(18);
    padding: calcView(9) calcView(15);
    outline: none;
    border: none;
    border-radius: calcView(5);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .drop-shadow {
    filter: drop-shadow(calcView(3) calcView(4) calcView(4) $DarkGray);
  }
  input::placeholder {
    font-size: calcView(18);
  }
  input:focus {
    border: calcView(2) solid $PrimaryColor;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("./assests/calender.svg");
    background-size: cover;
  }
  .form-select {
    width: calcView(150);
  }
  &-input {
    &-row {
      display: flex;
      gap: calcView(14);
    }
  }
  .btn {
    background-color: $DarkGray;
    color: $PrimaryColor;
    font-weight: 500;
    font-size: calcView(20);
  }
}
.issue {
  width: 100%;
  &-number {
    @include flexSpace();
    width: calcView(366);
    background-color: #ffff;
    padding: calcView(20);
    margin: 0 auto;
    border-radius: calcView(9);
    span {
      font-size: calcView(20);
    }
    &-holder {
      @include flexCenter();
      gap: calcView(5);
      .colored {
        color: $PrimaryColor;
      }
    }
    &-date {
      font-weight: 400;
    }
  }
}
.accept {
  width: 100%;
  &-container {
    background: $White;
    width: 100%;
    height: calcView(583);
    border-radius: calcView(32) calcView(32) 0 0;
    .accept-heading {
      font-size: calcView(22);
      font-weight: 600;
    }
    .detail {
      font-size: calcView(22);
      color: $PrimaryColor;
    }
    .block {
      display: block;
    }
    &-content {
      padding: calcView(50) calcView(23);
      display: flex;
      flex-direction: column;
      .mt {
        margin-top: calcView(32);
      }
      .mtt {
        margin-top: calcView(53);
      }
      .mttt {
        margin-top: calcView(75);
      }
      .btn {
        align-self: center;
        width: calcView(150);
        padding: calcView(13) calcView(52);
        border-radius: calcView(6);
      }
    }
  }
}
.Repay {
  display: block;
  margin: calcView(65) calcView(23);
  .select-opt {
    width: calcView(300);
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  .inline {
    display: inline;
  }
  span,
  label {
    font-size: calcView(22);
    font-weight: 500;
  }
  .colored {
    color: $PrimaryColor;
  }
  .mtt {
    margin-top: calcView(58);
  }
}
.billing {
  width: 100%;
  margin-top: calcView(16);
  display: block;
  hr {
    padding: 0;
    height: calcView(1);
    border-top: none;
    border-bottom: calcView(1) solid $LightBlack;
    width: 100%;
    margin: 0 auto;
  }
  .top-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: calcView(5);
    padding: calcView(7) calcView(21);
  }
  .billing-container {
    margin: 0 auto;
    width: calcView(396.85);
    height: calcView(1122.52);
    background-color: #ffffff;
    margin-top: calcView(-56);
    .top-container {
      padding-top: calcView(40);
      .head-text {
        text-align: center;
        img {
          width: calcView(316);
          height: calcView(107);
          object-fit: cover;
        }
        span {
          display: block;
          font-size: calcView(16);
          font-weight: 700;
          line-height: calcView(18.78);
          color: #151515;
        }
      }
      .line {
        width: calcView(344);
        margin: 0 auto;
        margin-top: calcView(36);
        display: flex;
        flex-direction: column;
        gap: calcView(35);
      }
      .unter-text {
        font-size: calcView(10);
        text-align: center;
      }
    }
    .details {
      border-top: calcView(1) solid $LightBlack;
      position: relative;
      height: calcView(771);
      width: calcView(396);
      .bottom-text {
        font-size: calcView(11.5);
        line-height: calcView(10);
      }
      &-container {
        position: absolute;
        padding-top: calcView(15);
        padding-left: calcView(15);
        top: 24.4%;
        left: -47.4%;
        width: calcView(771);
        height: calcView(396);
        transform: rotate(90deg);
        &-uper {
          display: flex;
          justify-content: space-between;
          &-den {
            width: calcView(321);
            display: flex;
            flex-direction: column;
            align-items: center;
            &-main {
              display: flex;
              &-first,
              &-third {
                width: calcView(141);
                height: calcView(24);
                border-bottom: calcView(1) solid $LightBlack;
                font-size: calcView(14);
                text-align: center;
                color: $TextColor;
                font-family: writter;
              }
              &-second {
                font-size: calcView(14);
              }
            }
          }
          &-zah {
            display: flex;
            flex-direction: column;
            width: calcView(250);
            gap: calcView(5);
            &-main {
              display: flex;
              &-first,
              &-second {
                font-size: calcView(16);
                line-height: calcView(17.4);
              }
              &-second {
                padding: 0 calcView(10);
                width: 100%;
                border-bottom: calcView(1) solid $LightBlack;
                color: $TextColor;
                font-family: writter;
              }
            }
          }
        }
        &-middle {
          display: flex;
          flex-direction: column;
          gap: calcView(10);
          &-date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-left {
              font-family: "Oswald", sans-serif;
              font-size: calcView(26.27);
              letter-spacing: calcView(-0.5);
            }
            &-right {
              width: calcView(216);
              display: flex;
              align-items: center;
              flex-direction: column;
              &-uper {
                font-size: calcView(14);
                width: 100%;
                text-align: center;
                border-bottom: calcView(1) solid $LightBlack;
                line-height: calcView(17);
                color: $TextColor;
                font-family: writter;
              }
              &-lower {
                font-size: calcView(9.68);
                line-height: calcView(14);
              }
            }
          }
          &-num {
            display: flex;
            justify-content: space-between;
            &-text {
              display: flex;
              align-items: end;
              gap: calcView(5);
              width: calcView(503);
              &-an {
                font-size: calcView(14);
                font-weight: 500;
                line-height: calcView(10);
              }
              &-further {
                font-size: calcView(16);
                line-height: calcView(14);
                color: $TextColor;
                font-family: writter;
                text-align: center;
                width: 100%;
                border-bottom: calcView(1) solid #000;
              }
            }
            &-amount {
              display: flex;
              align-items: center;
              gap: calcView(5);
              &-currency {
                font-size: calcView(24);
                line-height: calcView(20);
                font-weight: 700;
              }
              &-figures {
                width: calcView(216);
                height: calcView(28);
                font-size: calcView(16);
                background-image: url(./assests/line.svg);
                background-repeat: space;
                text-align: center;
                color: $TextColor;
                font-family: writter;
              }
            }
          }
          &-letter {
            display: flex;
            justify-content: space-between;
            gap: calcView(10);
            &-currency {
              font-size: calcView(24);
              font-weight: 700;
            }
            &-amount {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              &-figures {
                width: 100%;
                height: calcView(28);
                font-size: calcView(16);
                background-image: url(./assests/line.svg);
                background-repeat: space;
                background-size: 100%;
                text-align: center;
                color: $TextColor;
                font-family: writter;
              }
              &-text {
                font-size: calcView(10);
                line-height: calcView(12);
              }
            }
          }
        }
        &-bottom {
          display: flex;
          &-left {
            display: flex;
            flex-direction: column;
            gap: calcView(5);
            width: calcView(429);
            &-bez {
              width: 100%;
              display: flex;
              flex-direction: column;
              &-line {
                width: 100%;
                height: calcView(35);
                display: flex;
                align-items: center;
                gap: calcView(5);
                &-text {
                  font-size: calcView(16);
                }
                &-ans {
                  color: $TextColor;
                  font-family: writter;
                  width: 100%;
                  line-height: calcView(14);
                  font-size: calcView(14);
                  border-bottom: calcView(1) solid $LightBlack;
                }
              }
              &-next-line {
                color: $TextColor;
                font-family: writter;
                line-height: calcView(14);
                font-size: calcView(14);
                border-bottom: calcView(1) solid $LightBlack;
              }
            }
            &-in {
              width: 100%;
              display: flex;
              gap: calcView(5);
              &-text {
                font-size: calcView(14);
                font-weight: 500;
              }
              &-further {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                &-text {
                  text-align: center;
                  width: 100%;
                  font-size: calcView(16);
                  line-height: calcView(18);
                  border-bottom: calcView(1) solid $LightBlack;
                  color: $TextColor;
                  font-family: writter;
                }
                &-bottom {
                  font-size: calcView(10);
                }
              }
            }
            &-detail {
              border-top: calcView(2) solid $LightBlack;
              border-right: calcView(2) solid $LightBlack;
              padding-top: calcView(10);
              padding-right: calcView(15);
              .details-container-bottom-left-bez-line-text {
                font-size: calcView(16);
                white-space: nowrap;
              }
              .details-container-bottom-left-in-further-bottom {
                font-size: calcView(10);
              }
            }
          }
          &-signature {
            flex: 1;
            display: flex;
            align-items: end;
            justify-content: center;
            position: relative;
            .signature {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              img {
                width: calcView(230);
              }
            }
            span {
              font-size: calcView(12.8);
            }
          }
        }
      }
    }
  }
}
