<!DOCTYPE html>
<html lang="en">
<head>
    <title>Identity info</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h1>List of bills</h1>
    </div>
    <ul>
        {{#each bills}}
            <li><a href="http://localhost:8000/bill/{{this.name}}">{{ this.amount_numbers }} {{ this.currency_code }} issued {{ this.date_of_issue }}</a></li>
        {{/each}}
    </ul>
</div>
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>