<!DOCTYPE html>
<html lang="en">
<head>
    <title>Identity info</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h1>Contacts</h1>
    </div>
    <ul>
        {{#each contacts}}
            <li>Name: {{ @key }}<br>
                Node id: {{ this }}</li>
        {{/each}}
    </ul>
</div>
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>