<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create identity</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h1>Create new identity</h1>
    </div>
    <h2 id="create_identity_info">Bitcderit is a platform that allows you to issue cryptographically secure bills of
        exchange. To get started, please register.</h2>
    <form action="http://localhost:8000/identity/create" method="post">
        <label for="name">Name:</label><br>
        <input type="text" required="required" id="name" name="name"><br>
        <label for="date_of_birth">Date of birth:</label><br>
        <input type="text" required="required" id="date_of_birth" name="date_of_birth"><br>
        <label for="city_of_birth">City of birth:</label><br>
        <input type="text" required="required" id="city_of_birth" name="city_of_birth"><br>
        <label for="country_of_birth">Country of birth:</label><br>
        <input type="text" required="required" id="country_of_birth" name="country_of_birth"><br>
        <label for="email">Email:</label><br>
        <input type="text" required="required" id="email" name="email"><br>
        <label for="postal_address">Postal address:</label><br>
        <input type="text" required="required" id="postal_address" name="postal_address"><br>
        <input type="submit" id="button_submit" value="Create identity">
    </form>
</div>
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>