<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://localhost:8000/css/footer.css">
</head>
<nav class="footer">
    <h3 id="rights">© 2023 Bitcredit. All rights reserved.</h3>
</nav>