<!DOCTYPE html>
<html lang="en">
<head>
    <title>Info</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h1>Info about Bitcredit</h1>
    </div>
    <div class="main_info">
        <h2 id="main_info">   A fundamental missing element for a Bitcoin-based financial system and economy is a method to
            facilitate payment by issuing instruments repayable at a later date. An electronic version of the
            international framework for
            bills of exchange provides the core of the solution. We propose a peer-to-peer network that records all
            credited
            bitcoin amounts payable to, or receivable by, encrypted and hashed identities in a blockchain. The proposed
            new system provides privacy protection on a need to know basis. Bitcredit is operational even if and when
            central banks and commercial banks fail in a monetary crisis. The build-up of issued bitcoin will create a
            credit
            superstructure M1 on top of mined bitcoin M0 which will stabilize bitcoin’s value. Bitcoin will ascend to
            become a unit of account.</h2>
    </div>
</div>
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>