<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://localhost:8000/css/header.css">
    <link rel="stylesheet" href="http://localhost:8000/css/body.css">
</head>
<nav class="top-menu">
<img id="navbar-logo" src="http://localhost:8000/image/logo_long_blackback.png" alt="logo">
    <ul class="menu-main">
        <li><a href="http://localhost:8000/">Home</a></li>
        <li><a href="http://localhost:8000/bill">Issue new bill</a></li>
        <li><a href="http://localhost:8000/contacts/add">Add contact</a></li>
        <li><a href="http://localhost:8000/bill/dht">Find new bills</a></li>
        <li><a href="http://localhost:8000/identity">Identity</a></li>
        <li><a href="http://localhost:8000/contacts">Contacts</a></li>
        <li><a href="http://localhost:8000/bills">Bills</a></li>
        <li><a href="http://localhost:8000/info">Info</a></li>
        <li><a href="http://localhost:8000/exit">Exit</a></li>
    </ul>
</nav>
