<!DOCTYPE html>
<html lang="en">
<head>
    <title>Issue bill</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h1>Add contact</h1>
    </div>
    <form class="fields_contact" action="http://localhost:8000/contacts/new" method="post">
        <label for="name">Contact name:</label><br>
        <input type="text" required="required" id="name" name="name" placeholder="Contact name"><br>
        <label for="node_id">Node id:</label><br>
        <input type="text" required="required" id="node_id" name="node_id" placeholder="Node id"><br>
        <input type="submit" id="button_submit" value="Add contact">
    </form>
</div>
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>